body{
background-color: black;
color: white;
}

img{
	width: 100px;
    border: 2px solid whitesmoke;
}

h5, h6, p {
	color: white;
	font-family: Montserrat-Regular;
	
}
 h2 {
	color: black !important;
	font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
	
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

